.body{
    height: 50px;
    background-image: linear-gradient(to right, rgba(10,0,0), rgba(0,0,0,0));
}
body{
    font-family: Georgia, serif;
}
.dropbtn {
    background-color: #361dc3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #424383;
  }
.TITOL{
    background-color: rgba(39, 9, 209, 0.5);
    padding: 15px;
    color: #fff;
}
.FOTOPRINCIPAL{
    background-color: rgb(38, 25, 73);
    padding: 15px;
    color: #fff;
}
.ARGUMENT{
    background-color: rgba(39,9,209,0.5);
    padding: 15px;
    color: #fff;
}
.DIRECTOR{
    background-color: rgba(39, 9, 209, 0.5);
    padding: 15px;
    color: #fff;
}
.FOTODIRECTOR{
    background-color: rgb(38, 25, 73);
    padding: 15px;
    color: #fff;
}
.DIRECCIO{
    background-color: rgb(38, 25, 73);
    padding: 15px;
    color: #fff;
}
.PERSONATGES{
    background-color: rgba(39, 9, 209, 0.5);
    padding: 15px;
    color: #fff;
}
.FOTOSPERSONATGES{
    background-color: rgb(38, 25, 73);
    padding: 15px;
    color: #fff;
}
.CINEMESIPLATAFORMES{
    background-color: rgb(38, 25, 73);
    padding: 15px;
    color: #fff;
}
.TRAILER{
    background-color: rgba(39, 9, 209, 0.5);
    padding: 15px;
    color: #fff;
}
.ESCENESDELAPELICULA{
    background-color: rgb(38, 25, 73);
    padding: 15px;
    color: #fff;
}
.LINKS{
    background-color: rgba(39, 9, 209, 0.5);
    padding: 15px;
    color: #fff;
}
.FORMULARI{
    background-color: rgba(39, 9, 209, 0.5);
    padding: 15px;
    color: #fff;
}